$background-color: #e3e3e3;
$foreground-color: #fff;

$text-primary-color: #191919;
$text-secondary-color: #7b7b7b;
$border-color: #cecece;

$ui-box-border-color: #CACACA;
$ui-box-shadow-color: $ui-box-border-color;