@import '../_colors';

div.ui.box {
	padding: 1em;

	background-color: white;
	border: 1px solid $ui-box-border-color;
	box-shadow:
		0 5px 10px -1px $ui-box-shadow-color;
	
	&.more {
		box-shadow:
			// Bottom Borders
			0 7px 0 -4px white,
			0 8px 1px -4px $ui-box-shadow-color,
			0 15px 0 -8px white,
			0 17px 2px -8px $ui-box-shadow-color,

			// Shadow
			0 5px 10px -1px $ui-box-shadow-color;
	}
}
