@import "../_colors";

.ui.flipswitch {
	margin-top: 1em;
	text-align: right;

	label.text {
		float: left;
		margin-top: 0.5em;
		color: $text-secondary-color;
	}

	input[type=checkbox] {
		display: none;
	}

	label.switch {
		display: inline-block;
		padding: 0.5em 1em;
		border: 1px solid $border-color;
		color: $text-primary-color;
		cursor: pointer;
	}

	label.switch .on-label {
		display: none;
	}
	input[type=checkbox]:checked + label.switch .off-label {
		display: none;
	}
	input[type=checkbox]:checked + label.switch .on-label {
		display: inline-block;
	}
}