@import "../_colors";

.ui.text-field {
	display: block;
	margin-top: 1em;

	span {
		display: block;
		margin-bottom: 0.2em;

		color: $text-secondary-color;
	}

	input {
		width: 100%;
		padding: 0.5em 0.8em;

		color: black;
		border: 1px solid $border-color;
	}
}