$primary-color: #5c997e;
$secondary-color: #2495cc;
$tertiary-color: #ffbb28;

$background-color: #dce5dd;
$foreground-color: #fff;

$text-primary-color: #191919;
$text-secondary-color: #7b7b7b;
$border-color: #cecece;
$shadow-color: #4a4a4a;