@import "../node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

@import "_colors";

html, body {
	background-color: $background-color;
	overflow-x: hidden;
}

h1 {
	margin-top: 0.5em;
}

.clickable {
	cursor: pointer;
}