@import '_colors';

html {
	background: #F1F1F1;
	background: linear-gradient(to bottom, #F1F1F1 0, #D8D8D8 80%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F1F1', endColorstr='#D8D8D8', GradientType=0 );
}

h1, h2, h3, h4 {
	margin: 0;
	margin-bottom: 0.5em;
}

.component {
	padding: 1em;
}
