@import "../_colors";

.site.frontpage {
	> .columns:not(.header) > .column {
		margin-top: 10vh;
		margin-bottom: 10vh;
	}

	.section1 {
//		background-color: $secondary-color
	}
	.section2 {
		background: url('bg.jpg');
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;

		box-shadow:
			inset 0 1vh 2vh -1vh $shadow-color,
			inset 0 -1vh 2vh -1vh $shadow-color;
	}
	.section3 {
//		background-color: $primary-color
	}
}