@import "../_colors";

.site.frontpage {
	.section1,
	.section2,
	.section3 {
		padding-top: 10vh;
		padding-bottom: 10vh;
	}

	.section1 {
//		background-color: $secondary-color;

		.fa {
			font-size: 4em;
			margin-bottom: 1rem;
		}
	}
	.section2 {
		background: url('bg.jpg');
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;

		box-shadow:
			inset 0 1vh 2vh -1vh $shadow-color,
			inset 0 -1vh 2vh -1vh $shadow-color;

		h2 {
			color: white;
		}
	}
	.section3 {
//		background-color: $primary-color;
	}
}