@import "../_colors";

.ui.button {
	margin-top: 1em;
	padding: 0.5em 0.8em;
	background-color: transparent;
	color: $text-secondary-color;
	border: 0;

	&:not([disabled]) {
		box-shadow: 0 1px 2px 0 gray;

		&:hover {
			color: $text-primary-color;
			box-shadow: 0 1px 1px 0 gray;
		}
	}
}